<h1>To Do</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>State</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @to_do %>
  </tbody>
</table>

<br>


<h1>Doing</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>State</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @doing %>
  </tbody>
</table>

<br>

<h1>Done</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>State</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @done %>
  </tbody>
</table>

<br>
<%= link_to 'New Task', new_task_path %>
