<div class="row">
<div class="col-md-4"><h1 class="text-center white">To Do</h1>
<%= render @to_do %>
<%= link_to 'New Task', new_task_path, class: 'btn btn-xs btn-primary btn-block' %>
</div>
<div class="col-md-4"><h1 class="text-center white">Doing</h1>
<%= render @doing %>
</div>
<div class="col-md-4"><h1 class="text-center white">Done</h1>
<%= render @done %>
</div>
</div>

<br>

