// FONTS

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,500,300,700,900);
@import url(http://fonts.googleapis.com/css?family=Slabo+27px);

$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-serif: 'Slabo 27px', serif;

// NAVBAR

$navbar-default-bg: #1AA3DF; 
$navbar-border-radius: 0px;
$navbar-height: 40px;
$navbar-default-color: #FFF;
$navbar-default-link-color: #FFF;
$navbar-default-link-hover-color: #082F41;
$navbar-default-border: transparent;

// COLORS

$brand-primary: #1AA3DF;

// BORDERS

$border-radius-base: 1px;
$border-radius-small: 0px;
$border-radius-large: 2px;

// BUTTONS

$btn-font-weight: 500;